/**
 Cutom CSS for showing only Ae-Antraege
*/
body {
	background: white;
}

header,
nav,
.entry,
#sidebar,
.filler,
.inner h2,
.postmetadata,
#add_aeantrag {
	display: none;
}

.wrapper {
	width: auto;
}

#content {
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	width: auto;
}